NEXT_PUBLIC_BASE_URL=http://localhost:3000

MONGODB_ENV=dev
MONGODB_URI_DEV=mongodb://horecanai_db_user:<db_password>@ac-frq6tdo-shard-00-00.5ckexda.mongodb.net:27017,ac-frq6tdo-shard-00-01.5ckexda.mongodb.net:27017,ac-frq6tdo-shard-00-02.5ckexda.mongodb.net:27017/grouse-dev?ssl=true&replicaSet=atlas-42gc4h-shard-0&authSource=admin&retryWrites=true&w=majority&appName=HorecanCluster
MONGODB_URI_DEMO=mongodb://horecanai_db_user:<db_password>@ac-frq6tdo-shard-00-00.5ckexda.mongodb.net:27017,ac-frq6tdo-shard-00-01.5ckexda.mongodb.net:27017,ac-frq6tdo-shard-00-02.5ckexda.mongodb.net:27017/grouse-demo?ssl=true&replicaSet=atlas-42gc4h-shard-0&authSource=admin&retryWrites=true&w=majority&appName=HorecanCluster
MONGODB_URI_PROD=mongodb://horecanai_db_user:<db_password>@ac-frq6tdo-shard-00-00.5ckexda.mongodb.net:27017,ac-frq6tdo-shard-00-01.5ckexda.mongodb.net:27017,ac-frq6tdo-shard-00-02.5ckexda.mongodb.net:27017/grouse-prod?ssl=true&replicaSet=atlas-42gc4h-shard-0&authSource=admin&retryWrites=true&w=majority&appName=HorecanCluster
