@import "../styles/tokens.css";

:root {
  --color-primary: var(--color_primary-500);
  --color-secondary: var(--color_secondary-500);
  --color-accent: #f2b90c;
  --color-active: #2841cf;
  --color-disabled: var(--color_neutral-300);

  --color-white: #ffffff;

  --color-background: rgba(248, 248, 248, 1);
  --color-surface: var(--color_neutral-100);

  --color-text-primary: var(--color_neutral-900);
  --color-text-secondary: var(--color_neutral-500);

  --color-border: var(--color_neutral-200);

  --font-primary: "Lato", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-primary), sans-serif;
}
